/* nav bar */
nav {
    margin-right: auto;
    margin-left: auto;
    width: 100%;
}

.navbar-container {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #2A252C;
}

.navbar-elements a {
    display: inline-block;
    color: white;
    text-align: center;
    font-size: 14pt;
    padding: 1.25em;
    text-decoration: none;
    border-radius: 1em 1em 0 0;
}
